.HomePage {
}

.HomePage--InviteAFellowPlanner {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  background: rebeccapurple;
  color: var(--accent);
  padding: 2rem;
}

.HomePage--InviteAFellowPlanner--Heading {
  width: 100%;
  display: block;
}

.HomePage--InviteAFellowPlanner--Input {
  width: 100%;
  border: 3px solid white;
  background: transparent;
  padding: 1rem;
  color: white;
}

.HomePage--InviteAFellowPlanner--Button {
  border: 3px solid white;
  background: white;
  padding: 1rem;
  transition: all 0.5s ease-out;
  color: rebeccapurple;
}

.HomePage--InviteAFellowPlanner--Button:hover {
  border: 3px solid rebeccapurple;
  background: rebeccapurple;
  padding: 1rem;
  text-decoration: underline;
  color: white;
  cursor: pointer;
}

.HomePage--Reviews {
  background: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
}

.HomePage--Reviews--Container {
  width: 100%;
}

.HomePage--PromoBoxes--Container {
  display: flex;
  background: whitesmoke;
  color: black;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.HomePage--PromoBoxes--Category {
  padding: 2rem;
  width: 33.3%;
}

.HomePage--PromoBox--Opening {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("http://meetingglue.herokuapp.com/_nuxt/img/14b7322.png");
  background-size: cover;
  margin-bottom: 2rem;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  color: white;
}
@media (min-width: 600px) {
  .HomePage--InviteAFellowPlanner--Input--Container {
    width: 50%;
    padding: 0 2rem;
  }

  .HomePage--Reviews--Container {
    width: 50%;
  }
}
